#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 10000;
    // overflow-y: scroll;
}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #FFF7E6; // 밝은 크림색 배경
}

#footer {
    text-align: center;
    background-color: #111;
    padding: 20px 20px 20px 260px;
}

@media (max-width: 960px) {
    #header {
        left: -260px;
    }

    #main {
        padding-left: 0;
        margin-top: 80px;
    }
}